<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <connectionStrings>
    <add name="MyDB" connectionString="XpoProvider=MSSqlServer;data source=192.168.0.18;user id=sa;password=1234;initial catalog=Northwind;Persist Security Info=true" />
    <add name="DBconnectionMain" connectionString="Server=whyfi8888.ddns.net,11433;Uid=team3;Pwd=1234;database=TEAM3;" />
  </connectionStrings>
  <appSettings>
    <add key="txtMachineName1" value="txtMachineName1"/>
    <add key="txtMachineAddress1" value="txtMachineAddress1"/>
    <add key="txtDataCollectTime" value="10000"/>
    <add key="txtLoadPlan" value="00.00.00"/>

    <add key="OrgFolder" value="Y:\"/>
    <add key="DoneFolder" value="C:\Users\GD6\MyService\WorkDone\"/>

  </appSettings>
</configuration>