<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="txtMachineName1" value="txtMachineName1"/>
    <add key="txtMachineAddress1" value="txtMachineAddress1"/>
    <add key="txtDataCollectTime" value="txtDataCollectTime"/>
    <add key="txtLoadPlan" value="00.00.00"/>
  </appSettings>
</configuration>